@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: auto;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #0275d8;
  color: white;
  padding: 8px;
  z-index: 100;
  background-color: red;
  cursor: pointer;
}

.skip-link:focus {
  top: 0;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

#menu-mobile {
  width: 60px;
  height: 60px;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.hidden {
  display: none;
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px);
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #252831;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.25rem;
  text-align: center;
  width: 100%;
}

#neighborhoods-select,
#cuisines-select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 180px;
}

#neighborhoods-select:focus,
#cuisines-select:focus {
  -webkit-box-shadow: inset 0px 0px 5px 5px rgba(231, 166, 26, 1);
  box-shadow: inset 0px 0px 5px 5px rgba(231, 166, 26, 1);
}

/* ====================== Restaurant Listing ====================== */

#availiable-restaurants {
  color: #d8872b;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.75rem;
  text-decoration: underline;
}

#availiable-restaurants:focus {
  outline: 0;
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 1rem 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

#restaurants-list li {
  font-family: Arial, sans-serif;
  margin-top: 1rem;
  min-height: 380px;
  text-align: left;
  max-width: 100%;
}

#restaurants-list li:first-child {
  margin: 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  border-radius: 2rem 0 2rem 0;
  -moz-border-radius: 2rem 0 2rem 0;
  -webkit-border-radius: 2rem 0 2rem 0;
  border: 0px solid #000000;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list li h3:first-child {
  margin-top: 0;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a:focus {
  color: black;
  outline: 0;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
}

/* ====================== Restaurant Details ====================== */

.inside body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.inside header {
  width: 100%;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 50vh;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}

#restaurant-img {
  max-width: 100%;
  margin: auto;
  border-radius: 2rem 0px 0 0px;
  -moz-border-radius: 2rem 0px 0 0px;
  -webkit-border-radius: 2rem 0px 0 0px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: -0.5rem 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
  border-radius: 0 0 1rem 0;
}

.review-metadata {
  padding: 0.5rem 1rem 0rem;
  border-radius: 1rem 0 0 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.review-metadata p {
  color: white;
}

.reviewer-name {
  font-size: 1rem;
  font-weight: bold;
}

.review-comment {
  padding: 0.5rem 1rem 0;
}

.review-rating {
  background-color: gold;
  padding: 0.25rem 0.25rem;
  color: black;
  border-radius: 0.25rem;
  max-width: 3.5rem;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  max-width: 100%;
}

#restaurant-container {
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 90%;
  margin: auto;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  max-width: 100%;
  border-radius: 1rem 0 1rem 0;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* Medium and big screens */

@media screen and (min-width: 600px) {
  /* Filters */
  .filter-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .filter-options h2 {
    width: auto;
  }
  /* Restaurant Cards */
  #restaurants-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #restaurants-list li:first-child {
    margin: 0.5rem;
  }
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 0.5rem;
    max-width: 40%;
    max-height: 100px;
    padding: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  #restaurants-list li h3 {
    font-weight: 200;
    margin: 20px 0px auto;
    text-transform: uppercase;
  }
  #restaurants-list .restaurant-img {
    max-height: 250px;
  }
}

@media screen and (min-width: 850px) {
  #restaurants-list li {
    max-width: 30%;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .inside #maincontent {
    max-width: 1500px;
    flex-flow: row wrap;
  }
  #restaurant-container {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  .restaurant-main-content {
    max-width: 54%;
  }
  .restaurant-side-content {
    width: 44%;
  }
  .inside #map-container {
    height: 43vh;
  }
  #reviews-list {
    display: flex;
    justify-content: space-around;
  }
  #reviews-list li {
    max-width: 32%;
  }
}